<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-st section-shaped pb-50">
      <div class="shape shape-style-3 shape-dark">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-7">
              <h1 class="display-4 text-white">
                Data Flow Platform
                <span>Projeto de Business Inteligence (BI)</span>
              </h1>
            </div>
          </div>
          <br><br>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg
          x="0"
          y="0"
          viewBox="0 0 2560 100"
          preserveAspectRatio="none"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--100">
    <div class="container">
      <div>
        <a
          href="https://fit-tecnologia.atlassian.net/wiki/spaces/HP/pages/2769486050/Requisitos+-+BI"
          class="btn btn-icon btn-3 btn-primary"
        >
          <span class="btn-inner--icon"
            ><i class="ni ni-single-copy-04"></i
          ></span>
          <span class="btn-inner--text">Documentação</span>
        </a>
        <a
          href="https://fit-tecnologia.atlassian.net/secure/BrowseProjects.jspa?selectedProjectType=software"
          class="btn btn-icon btn-3 btn-primary"
        >
          <span class="btn-inner--icon"><i class="ni ni-spaceship"></i></span>
          <span class="btn-inner--text">Metodologia ágil</span>
        </a>
        <a
          href="https://bitbucket.org/fit-tecnologia/dflowp-elk/src/master/"
          class="btn btn-icon btn-3 btn-primary"
        >
          <span class="btn-inner--icon"
            ><i class="ni ni-ruler-pencil"></i
          ></span>
          <span class="btn-inner--text">código fonte</span>
        </a>
      </div>
    </div>
  </section>


  <section class="section section-sp">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/img/theme/elk.png" class="img-fluid floating" />
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-2">
           
            <h3>Ambiente ELK na AWS.</h3>
            
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-primary mr-3">
                      <i class="ni ni-key-25"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Chaves de acesso:</h6>
                  </div>
                  <a
                    href="https://fit-tecnologia.atlassian.net/wiki/download/attachments/2795634951/Acesso%20ELK%20BI%20AWS%20%20DEV-DFLOWP-TEST.rar?api=v2"
                    class="badge badge-pill badge-primary"
                    >Baixar</a
                  >
                </div>
              </li>
              <br />
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-primary mr-3">
                      <i class="ni ni-check-bold"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Repositório de dados:</h6>
                  </div>
                  <a
                    href="http://ec2-54-197-29-65.compute-1.amazonaws.com:9200"
                    class="badge badge-pill badge-primary"
                    >API Elastic</a
                  >
        
                </div>
              </li>
              <br />
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-primary mr-3">
                      <i class="ni ni-check-bold"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Ambiente de teste:</h6>
                  </div>
                  <a
                    href="https://ec2-44-203-174-125.compute-1.amazonaws.com:9200"
                    class="badge badge-pill badge-primary"
                    >API Elastic</a
                  >
                  <a
                    href="http://ec2-44-203-174-125.compute-1.amazonaws.com:5601"
                    class="badge badge-pill badge-primary"
                    >Gráficos</a
                  >
                </div>
              </li>
              <br />
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-primary mr-3">
                      <i class="ni ni-check-bold"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Ambiente de desenvolvimento:</h6>
                  </div>
                  <a
                    href="https://ec2-18-212-87-214.compute-1.amazonaws.com:9200"
                    class="badge badge-pill badge-primary"
                    >API Elastic</a
                  >
                  <a
                    href="http://ec2-18-212-87-214.compute-1.amazonaws.com:5601"
                    class="badge badge-pill badge-primary"
                    >Gráficos</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
